body {
  font-family: "hkgrotesk-regular", sans-serif;
  font-weight: 300;
  background-color: #161616; }

.container {
  margin-top: 80px; }

.background {
  position: absolute;
  top: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.top-padding {
  margin-top: 100px; }

.center-align {
  text-align: center; }

.margin.top.twenty {
  margin-top: 20px; }

.margin.top.fifty {
  margin-top: 50px; }

@font-face {
  font-family: 'Perpetua';
  src: url("../fonts/perpetua/Perpetua.eot?#iefix") format("embedded-opentype"), url("../fonts/perpetua/Perpetua.otf") format("opentype"), url("../fonts/perpetua/Perpetua.woff") format("woff"), url("../fonts/perpetua/Perpetua.ttf") format("truetype"), url("../fonts/perpetua/Perpetua.svg#Perpetua") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hkgrotesk-bold';
  src: url("../fonts/hkgrotesk/hkgrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk/hkgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hkgrotesk-medium';
  src: url("../fonts/hkgrotesk/hkgrotesk-medium-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk/hkgrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hkgrotesk-regular';
  src: url("../fonts/hkgrotesk/hkgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk/hkgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hkgrotesk-light';
  src: url("../fonts/hkgrotesk/hkgrotesk-light-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk/hkgrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* TOP MENU */
.menubar {
  width: 100%;
  color: #ffffff;
  position: fixed;
  font-family: "hkgrotesk-light", sans-serif;
  letter-spacing: 0.005em;
  height: 75px;
  top: 0px;
  background-color: #00000000;
  /* For browsers that do not support gradients */
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  z-index: 11;
  font-weight: 400; }
  .menubar a {
    color: unset;
    text-decoration: none; }
  .menubar.white {
    background: unset;
    background-color: #ffffff;
    -webkit-transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: -webkit-box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95), -moz-box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95), -moz-box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    .menubar.white.shadow {
      -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05); }
  .menubar .resources-dropdown {
    float: right;
    background-color: #ffffff;
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.418));
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.418));
    padding: 2px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    position: absolute;
    right: 75px;
    top: 65px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .menubar .resources-dropdown:before {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid white;
      position: absolute;
      top: -15px;
      left: 65%;
      content: ""; }
    .menubar .resources-dropdown.active {
      visibility: visible;
      opacity: 1;
      top: 75px; }
    .menubar .resources-dropdown .resource {
      margin-bottom: 2px;
      padding: 15px 25px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      display: block; }
      .menubar .resources-dropdown .resource:last-child {
        margin-bottom: 0;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px; }
      .menubar .resources-dropdown .resource:first-child {
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0; }
      .menubar .resources-dropdown .resource div {
        color: #fff !important;
        font-size: 1.1em;
        letter-spacing: 1.5px; }
      .menubar .resources-dropdown .resource:hover {
        opacity: 0.7; }

.menu {
  /* position: absolute; */
  margin-top: 45px !important;
  border: none !important;
  /* position: fixed; */
  width: 100%;
  text-align: left;
  margin-left: 60px !important; }

.menu-icon {
  /* background-image: url("../image/icons/modules-icon.svg"); */
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  width: 55px;
  position: fixed;
  top: 21px;
  left: 15px;
  z-index: 15; }

.menu-icon-container {
  text-align: right;
  height: 45px;
  width: 220px;
  float: left;
  margin-top: 12px;
  margin-left: -210px;
  padding-right: 60px;
  /* border: solid 10px #fff; */
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  font-weight: 400; }

.module-menu {
  height: auto;
  width: auto;
  display: inline-block;
  cursor: pointer !important; }
  .module-menu :hover {
    cursor: pointer; }
    .module-menu :hover > .menu-icon-container {
      -webkit-transform: translate(146px, 0);
      -moz-transform: translate(146px, 0);
      -ms-transform: translate(146px, 0);
      -o-transform: translate(146px, 0);
      transform: translate(146px, 0); }

.menu-name {
  opacity: 0.8;
  line-height: 70px;
  margin-left: 85px;
  float: left;
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }
  .menu-name :hover {
    opacity: 1; }
  .menu-name a {
    text-decoration: none;
    text-transform: capitalize; }
  @media (min-width: 750px) {
    .menu-name {
      width: auto; } }

.menu-support {
  float: right;
  margin-top: 22px;
  margin-right: 20px;
  opacity: 0.8; }
  .menu-support :hover {
    opacity: 1; }


.button {
  background-color: #5AAF7F;
  color: white;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
  height: unset;
  padding: 5px 25px;
  font-size: 1em; }
  .button:hover {
    background-color: #fff;
    color: #1a1a1a;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.25);
    border: #e7e7e7 2px solid inset; }

.prereq .vex-dialog-message {
  text-align: center;
  font-size: 25px;
  border-bottom: solid #5AAF7F 3px;
  padding-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto; }

.vex-dialog-button-primary {
  background-color: #5AAF7F !important; }

.vex-custom-field-wrapper {
  margin-bottom: 25px; }

.vex-custom-field-wrapper a {
  cursor: pointer; }

.vex-duration {
  margin-top: 25px;
  color: #838383;
  font-size: 0.8em; }

.vex-title {
  color: #000;
  font-weight: 700; }

.ui-accordion-header {
  cursor: pointer; }

.ie-warning {
  text-align: center; }
  .ie-warning .title {
    border-bottom: #5AAF7F 5px solid;
    display: inline-block; }
  .ie-warning img {
    height: 100px;
    margin-bottom: 25px;
    margin-top: 10px; }
  .ie-warning p {
    text-align: left; }

.accordion-icon {
  float: right;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  background-color: #5AAF7F;
  color: #fff;
  font-size: 21.5px;
  text-align: center;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: -o-transform 300ms;
  -moz-transition: transform 300ms, -moz-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms, -o-transform 300ms; }

.ui-accordion-header-active > .accordion-icon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.flyout-container {
  width: 100%;
  overflow: hidden; }

.flyout {
  z-index: 5;
  background-color: #fff;
  width: 34px;
  height: 200px;
  position: fixed;
  right: 0px;
  top: 40%;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: -o-transform 300ms;
  -moz-transition: transform 300ms, -moz-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms, -o-transform 300ms;
  -webkit-transition: width 500ms ease-in-out;
  -o-transition: width 500ms ease-in-out;
  -moz-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
  -webkit-box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.51); }
  .flyout:hover {
    width: 300px;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    -o-transition: -o-transform 300ms;
    -moz-transition: transform 300ms, -moz-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms, -o-transform 300ms;
    -webkit-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out; }
    .flyout:hover .flyout-content {
      -webkit-box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.51);
      -moz-box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.51);
      box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.51); }
  .flyout .content-wrapper {
    width: 300px;
    margin-top: -35px; }

.flyout-button {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background-color: #5AAF7F;
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 200px;
  -webkit-transform-origin: 17px 17px;
  -moz-transform-origin: 17px 17px;
  -ms-transform-origin: 17px 17px;
  -o-transform-origin: 17px 17px;
  transform-origin: 17px 17px;
  text-align: center;
  font-size: 22px; }

.flyout-content {
  display: inline-block;
  overflow: hidden;
  margin-left: 34px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 18px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 200ms linear;
  transition: -webkit-box-shadow 200ms linear;
  -o-transition: box-shadow 200ms linear;
  -moz-transition: box-shadow 200ms linear, -moz-box-shadow 200ms linear;
  transition: box-shadow 200ms linear;
  transition: box-shadow 200ms linear, -webkit-box-shadow 200ms linear, -moz-box-shadow 200ms linear;
  min-height: 200px; }


@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@-o-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

.scroll-btn {
  display: none;
  height: 75px;
  width: 150px;
  text-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
  position: absolute;
  bottom: 50px;
  left: -webkit-calc(50% - 75px);
  left: -moz-calc(50% - 75px);
  left: calc(50% - 75px);
  cursor: pointer; }
  .scroll-btn button {
    all: initial;
    cursor: pointer; }
  @media (min-width: 400px) {
    .scroll-btn {
      display: block; } }

.scroll-btn > * {
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px; }

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  -o-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite; }

/* CASE STUDIES */
.case-study-container img {
  width: 100%; }

.case-study-section {
  margin-bottom: 25px; }

.case-study-video {
  width: 100%; }

.case-study-title {
  position: absolute;
  width: 100%;
  color: #fff;
  text-align: center;
  /* height: 20%; */
  margin-top: 25%;
  font-size: 65px;
  font-family: "Perpetua", serif;
  text-shadow: 0px 0px 20px #0000009c; }

.case-study-section-title {
  border-bottom: #5aaf7f solid 5px;
  padding-bottom: 4px;
  font-size: 36px;
  font-family: "Perpetua", serif;
  margin-bottom: 25px; }
  .case-study-section-title:focus {
    outline: none; }

.case-study-section-content {
  font-size: 18px;
  font-weight: 400; }
  .case-study-section-content > .six.columns:nth-of-type(odd) {
    margin-left: 0px; }

.case-study-more-section {
  margin-top: 100px;
  height: 200px;
  text-align: center; }
  .case-study-more-section:focus {
    outline: none; }

.reflection-item {
  margin-bottom: 15px; }

.case-study-number {
  font-size: 55px;
  font-family: "Perpetua", serif;
  color: #cfcfcf;
  margin-top: -15px; }

.case-study-scroll {
  -webkit-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  opacity: 0; }

.glossary .input {
  font-size: 2.75em;
  font-family: "Perpetua", serif; }
  .glossary .input .clear {
    color: #a7a7a7;
    cursor: pointer; }
  .glossary .input .define {
    display: inline-block;
    color: #9e9e9e; }
  .glossary .input .word {
    display: inline-block;
    border: none; }
  .glossary .input input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.glossary .results {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #5AAF7F;
  padding: 25px;
  margin-top: 25px; }
  .glossary .results ul {
    list-style-type: none;
    font-size: 1.25em; }
    .glossary .results ul li {
      color: #4e4e4e; }
      .glossary .results ul li:hover {
        color: #000000; }
    .glossary .results ul div {
      margin-bottom: 0;
      cursor: pointer; }

.glossary .definition {
  font-size: 1.15em;
  margin-left: 0; }

/* INTRODUCTION PAGE */
.intro-swiper-slide {
  position: relative; }

.intro-swiper-container {
  max-height: 100vh;
  overflow: hidden; }

.intro-swiper-slide {
  overflow: hidden; }

.more-info-button {
  background-color: #5AAF7F;
  border: none;
  color: #fff; }

/* LANDING */
.landing {
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 4em;
  height: auto; }
  .landing .background {
    background-image: url("../image/minimalistic-gaussian-blur-dark.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    top: 0; }
  .landing video {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    opacity: 0.5;
    z-index: -1; }
  .landing .logo {
    background-image: url("../image/logos/rhhep.png");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    /* background-attachment: fixed; */
    background-position: center;
    margin: 0 auto; }
  .landing .pretitle {
    margin-top: 25px;
    margin-bottom: -30px;
    color: #fff; }
  .landing .title {
    font-size: 6.88em;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff; }
  .landing .subtitle {
    margin-top: -30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; }
  .landing .description {
    color: #fff;
    margin-top: 75px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    font-weight: 300; }
  .landing .actions {
    margin-top: 50px; }
  .landing .logos {
    padding: 5em;
    margin: 0 auto;
    z-index: -1; }
    .landing .logos img {
      height: 2.75em;
      margin: 0 1.25em 1.25em 1.25em;
      width: auto; }
  @media (min-width: 550px) {
    .landing {
      font-size: 1em; } }

.landing-button {
  width: 13em; }

.lt-logo {
  background-image: url("../image/logos/lt.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100px; }

/* MODULE PAGE */
.module-swiper-slide {
  position: relative; }

.center-center {
  margin-top: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.objective-row {
  margin-bottom: 1.75em; }
  .objective-row > .six.columns:nth-of-type(odd) {
    margin-left: 0px; }
  .objective-row .row {
    margin-bottom: 1em; }

.module-swiper-container {
  max-height: 100vh;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  .module-swiper-container.initialized {
    opacity: 1; }

.course-objectives {
  color: #fff;
  font-size: 12px; }

.objective-number {
  font-size: 4em;
  font-family: "hkgrotesk-light", sans-serif;
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  line-height: 45px; }

.objectives-title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  border-bottom: solid #5AAF7F 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 75px; }

@media (min-width: 400px) {
  .course-objectives {
    font-size: 14px; } }

@media (min-width: 750px) {
  .course-objectives {
    font-size: 14px; } }

@media (min-width: 1000px) {
  .course-objectives {
    font-size: 14px; } }

@media (min-width: 1200px) {
  .course-objectives {
    font-size: 15px; } }

.slide-video-container {
  position: relative;
  overflow: hidden; }

.module-feature-video {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto; }

.objective {
  font-family: "hkgrotesk-light", sans-serif;
  font-size: 1.2em;
  display: inline-block;
  width: 80%; }

.lobjectives-title {
  font-size: 1.2em;
  padding-bottom: 10px;
  border-bottom: solid #5AAF7F 5px;
  font-weight: 400; }

.mapplications-title {
  font-size: 1.2em;
  padding-bottom: 10px;
  font-weight: 400; }

.module-bullets .swiper-pagination-bullet {
  height: 6px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 6px;
  -webkit-transition: width 200ms ease-in-out, height 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: width 200ms ease-in-out, height 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: width 200ms ease-in-out, height 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: width 200ms ease-in-out, height 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.module-bullets .swiper-pagination-bullet-active {
  height: 12px;
  width: 12px; }

.module-case-studies-title {
  font-size: 1.75em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 50px; }

.narratives-container {
  text-align: center;
  width: 100%;
  font-size: 9px; }

.narrative {
  display: inline-block;
  width: 100%;
  width: -webkit-fill-available;
  height: 5em;
  background-color: #5AAF7F;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  color: #fff;
  text-decoration: none; }
  .narrative:hover {
    color: #fff; }
  .narrative img {
    width: 100%;
    display: none; }
  .narrative .narrative-name {
    font-size: 1.1em;
    margin-top: 4px; }

@media (min-width: 400px) {
  .narratives-container {
    font-size: 14.5px; } }

@media (min-width: 750px) {
  .narratives-container {
    font-size: 10px; }
  .narrative {
    height: 15em;
    width: 12.5em; }
    .narrative img {
      display: block; } }

@media (min-width: 1000px) {
  .narratives-container {
    font-size: 14px; } }

@media (min-width: 1200px) {
  .narratives-container {
    font-size: 16px; } }

.topic {
  display: inline-block;
  width: inherit;
  width: -webkit-fill-available;
  background-color: #5AAF7F;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 10px; }
  .topic:hover {
    color: #fff; }
  .topic img {
    width: 100%;
    height: 260px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -o-object-fit: cover;
    object-fit: cover;
    display: none; }
  @media (min-width: 750px) {
    .topic {
      width: 95px;
      height: 300px;
      padding: 0; }
      .topic img {
        display: block; }
      .topic .narrative-name {
        margin-top: 5px; } }
  @media (min-width: 1000px) {
    .topic {
      width: 125px; } }
  @media (min-width: 1200px) {
    .topic {
      width: 160px; } }
  .topic .overlay {
    position: absolute;
    display: none;
    top: 0;
    height: 260px;
    width: 100%;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    opacity: 0;
    bottom: 25px;
    background-color: #5AAF7F;
    -webkit-transition: opacity 400ms linear;
    -o-transition: opacity 400ms linear;
    -moz-transition: opacity 400ms linear;
    transition: opacity 400ms linear; }
    @media (min-width: 750px) {
      .topic .overlay {
        display: block; } }
    .topic .overlay svg {
      margin: 0 45px;
      margin-top: 100px; }
      .topic .overlay svg .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0; }
        .topic .overlay svg .path.circle {
          -webkit-animation: dash 1s ease-in-out;
          -moz-animation: dash 1s ease-in-out;
          -o-animation: dash 1s ease-in-out;
          animation: dash 1s ease-in-out;
          -webkit-animation-delay: 2s;
          -moz-animation-delay: 2s;
          -o-animation-delay: 2s;
          animation-delay: 2s; }
        .topic .overlay svg .path.line {
          stroke-dashoffset: 1000;
          -webkit-animation: dash 1s .35s ease-in-out forwards;
          -moz-animation: dash 1s .35s ease-in-out forwards;
          -o-animation: dash 1s .35s ease-in-out forwards;
          animation: dash 1s .35s ease-in-out forwards;
          -webkit-animation-delay: 1s;
          -moz-animation-delay: 1s;
          -o-animation-delay: 1s;
          animation-delay: 1s; }
        .topic .overlay svg .path.check {
          stroke-dashoffset: -100;
          -webkit-animation: dash-check 1s .35s ease-in-out forwards;
          -moz-animation: dash-check 1s .35s ease-in-out forwards;
          -o-animation: dash-check 1s .35s ease-in-out forwards;
          animation: dash-check 1s .35s ease-in-out forwards;
          -webkit-animation-delay: 2s;
          -moz-animation-delay: 2s;
          -o-animation-delay: 2s;
          animation-delay: 2s; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-o-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@-moz-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@-o-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }
  .topic.done .overlay {
    opacity: 0.7; }

.topic-name {
  margin-top: 5px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #323c41; }

.blog-card {
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.171);
  -moz-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.171);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.171);
  text-align: center; }
  .blog-card:hover .card-info {
    opacity: 1;
    bottom: 120px; }
  .blog-card:hover .color-overlay {
    background: rgba(84, 104, 110, 0.8); }

.title-content {
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0; }

.intro {
  width: 170px;
  margin: 0 auto;
  color: #DCE3E7;
  font-size: 13px;
  font-style: italic;
  line-height: 18px; }

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #DCE3E7;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  -webkit-transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  -o-transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  -moz-transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20; }

.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%; }
  .utility-list li {
    margin: 0 15px 0 0;
    padding: 0 0 0 22px;
    display: inline-block;
    color: #DCE3E7; }

.coming-soon {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 40%; }
  .coming-soon .title {
    font-size: 52px;
    font-weight: 500; }
  .coming-soon .description {
    font-size: 28px; }

.modules-logo {
  background-image: url("../image/logos/homehealthlogo.svg");
  height: 65px;
  margin-top: 80px;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center; }

.modules-loader {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 1;
  margin-top: 18vh !important;
  overflow: hidden;
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  .modules-loader .faux-slide-container {
    white-space: nowrap; }
    .modules-loader .faux-slide-container .faux-slide-wrapper {
      display: table; }
    .modules-loader .faux-slide-container .faux-slide {
      display: inline-block;
      width: 60vw !important;
      height: 33.7vw !important;
      margin: 0.5625vw auto;
      margin-left: 25px;
      margin-right: 25px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: solid 5px white;
      -webkit-animation: pulse 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate both;
      -moz-animation: pulse 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate both;
      -o-animation: pulse 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate both;
      animation: pulse 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate both; }
      .modules-loader .faux-slide-container .faux-slide.one {
        -webkit-animation-delay: 0ms;
        -moz-animation-delay: 0ms;
        -o-animation-delay: 0ms;
        animation-delay: 0ms; }
      .modules-loader .faux-slide-container .faux-slide.two {
        -webkit-animation-delay: 200ms;
        -moz-animation-delay: 200ms;
        -o-animation-delay: 200ms;
        animation-delay: 200ms; }
      .modules-loader .faux-slide-container .faux-slide.three {
        -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -o-animation-delay: 400ms;
        animation-delay: 400ms; }
  .modules-loader.initialized {
    opacity: 0; }

@-webkit-keyframes pulse {
  0% {
    background: #ffffff; }
  100% {
    background: #ffffff00; } }

@-moz-keyframes pulse {
  0% {
    background: #ffffff; }
  100% {
    background: #ffffff00; } }

@-o-keyframes pulse {
  0% {
    background: #ffffff; }
  100% {
    background: #ffffff00; } }

@keyframes pulse {
  0% {
    background: #ffffff; }
  100% {
    background: #ffffff00; } }

/* MAIN CAROUSEL */
.swiper-container {
  width: 100%;
  margin-top: 18vh !important;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  .swiper-container.initialized {
    opacity: 1; }

.swiper-slide {
  width: 60vw !important;
  height: 36vw !important;
  margin: 0.5625vw auto;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 9px; }
  .swiper-slide a {
    text-decoration: none; }
  .swiper-slide div {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-slide > a > div {
    background: -webkit-linear-gradient(273deg, rgba(0, 0, 0, 0.518645) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
    background: -moz-linear-gradient(273deg, rgba(0, 0, 0, 0.518645) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(273deg, rgba(0, 0, 0, 0.518645) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(177deg, rgba(0, 0, 0, 0.518645) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

.slide-title {
  color: #fff;
  font-size: 2em;
  font-family: "hkgrotesk-regular", sans-serif;
  letter-spacing: 0.05em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: auto !important; }

.slide-actions {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: auto !important;
  /* margin-top: -200px; */ }

@media (min-width: 400px) {
  .swiper-slide {
    font-size: 12px; } }

@media (min-width: 750px) {
  .swiper-slide {
    font-size: 16px; } }

@media (min-width: 1000px) {
  .swiper-slide {
    font-size: 16px; } }

@media (min-width: 1200px) {
  .swiper-slide {
    font-size: 19px; } }

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: #ffffffc9; }

.modules-pagination {
  width: 100%;
  text-align: center; }
  .modules-pagination > .swiper-pagination-bullet {
    margin-left: 5px;
    margin-right: 5px; }
  .modules-pagination.initialized {
    display: block; }

.swiper-button-next {
  right: 15% !important; }

.swiper-button-prev {
  left: 15% !important; }

.swiper-button-next, .swiper-button-prev {
  display: none; }
  @media (min-width: 400px) {
    .swiper-button-next, .swiper-button-prev {
      display: block; } }

.module-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.before-begin-button {
  -webkit-box-shadow: 0px 0px 109px -15px rgba(0, 0, 0, 0.747);
  -moz-box-shadow: 0px 0px 109px -15px rgba(0, 0, 0, 0.747);
  box-shadow: 0px 0px 109px -15px rgba(0, 0, 0, 0.747);
  font-size: 1.1em;
  padding: 0.1em 2em;
  height: auto; }
  @media (min-width: 400px) {
    .before-begin-button {
      font-size: 0.8em;
      padding: 0.25em 2em; } }

.module-button-container {
  height: auto !important;
  margin-top: -30%; }
  @media (min-width: 400px) {
    .module-button-container {
      margin-top: -20%; } }

.prereq-image {
  height: 150px;
  top: 0;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.prereq-image-placeholder {
  height: 150px;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.more-title {
  font-size: 4em;
  font-family: "Perpetua", serif; }

.more-subtitle {
  font-size: 1.75em;
  border-bottom-style: solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 25px;
  border-bottom-width: 5px; }
  .more-subtitle.full {
    border-bottom-color: #5AAF7F; }

.six.columns:first-child .more-subtitle, .twelve.columns .more-subtitle {
  border-bottom-width: 5px; }

.six.columns:not(:first-child) .more-subtitle {
  border-bottom-width: 2px;
  font-size: 1.25em;
  margin-top: 15px; }

.more-text {
  font-size: 1.15em;
  margin-bottom: 25px; }

.more-questions {
  font-size: 20px; }

.more-section {
  padding-top: 50px;
  padding-bottom: 50px; }
  .more-section .container {
    margin-top: 0px; }
  .more-section .six.columns:nth-of-type(odd) {
    margin-left: 0px; }
  .more-section .more-sub-subtitle {
    font-size: 1.25em;
    margin-top: 15px;
    border-bottom: 2px solid #5AAF7F;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 25px; }
  .more-section:nth-of-type(odd) {
    background-color: #ffffff; }
    .more-section:nth-of-type(odd) .more-subtitle {
      border-bottom-color: #5AAF7F; }
    .more-section:nth-of-type(odd) .more-sub-subtitle {
      border-bottom-color: #5AAF7F; }
  .more-section:nth-of-type(even) {
    background-color: #5AAF7F;
    color: #ffffff; }
    .more-section:nth-of-type(even) .more-subtitle {
      border-bottom-color: #fff; }
    .more-section:nth-of-type(even) .more-sub-subtitle {
      border-bottom-color: #fff; }

.more-circles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.more-circle-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  /* width: 0; */
  min-width: 100px;
  max-width: 150px;
  margin-bottom: 20px; }

.more-circle {
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 75%;
  height: auto; }

.more-circle-text {
  text-align: center;
  width: 100%;
  font-weight: 500; }

.more-small-circle-container {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px; }

.more-small-text {
  text-align: center;
  margin-top: 5px; }

.more-video video {
  width: 100%; }

.quiz.question {
  margin-bottom: 10px; }

.quiz.answers {
  position: relative; }

.quiz.answer {
  margin-bottom: 10px;
  background-color: #5AAF7F;
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer; }

.quiz.button-container {
  text-align: center;
  margin-top: 25px; }

.quiz.feedback {
  position: absolute;
  display: none;
  padding: 25px;
  top: 0;
  background-color: grey;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #fff; }
  .quiz.feedback.correct {
    background-color: #5AAF7F;
    display: block; }
  .quiz.feedback.incorrect {
    background-color: #C04F4D;
    display: block; }
  .quiz.feedback .response-title {
    font-size: 2em;
    line-height: initial; }
  .quiz.feedback .response-description {
    font-size: 1.25em; }

.quiz.answer > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin-left: 7px;
  margin-top: 7px;
  z-index: 0;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2); }

.quiz.answer > label {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 27px;
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 40px;
  min-height: 27px;
  cursor: pointer; }

.quiz.answer > label::before,
.quiz.answer > label::after {
  position: absolute;
  content: "";
  /*Needed for the line-height to take effect*/
  display: inline-block; }

/*Outer box of the fake checkbox*/
.quiz.answer > label::before {
  height: 23px;
  width: 23px;
  border: 2px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0px;
  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
  top: 0px; }

/*Checkmark of the fake checkbox*/
.quiz.answer > label::after {
  height: 15px;
  width: 15px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  left: 6px;
  top: 6px; }

/*Hide the checkmark by default*/
.quiz.answer > input[type="checkbox"] + label::after {
  content: none; }

/*Unhide on the checked state*/
.quiz.answer > input[type="checkbox"]:checked + label::after {
  content: ""; }

/*Adding focus styles on the outer-box of the fake checkbox*/
.matching-circle {
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-box-shadow 300ms linear;
  transition: -webkit-box-shadow 300ms linear;
  -o-transition: box-shadow 300ms linear;
  -moz-transition: box-shadow 300ms linear, -moz-box-shadow 300ms linear;
  transition: box-shadow 300ms linear;
  transition: box-shadow 300ms linear, -webkit-box-shadow 300ms linear, -moz-box-shadow 300ms linear; }
  .matching-circle:hover {
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.3); }

.matching-circle.target {
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: dashed 3px #b4b4b4; }

.matching-circle.answer {
  height: 75px;
  width: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: antiquewhite; }

.matching-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 50px; }
  .matching-text.equal {
    min-height: 75px; }

.matching-answer {
  margin-bottom: 25px; }

.matching-option {
  margin-bottom: 25px; }
  .matching-option.correct .matching-circle.target {
    border: solid 3px #5AAF7F !important; }

.more-bullets {
  margin-top: 50px;
  list-style-type: disc; }

.more-gallery img {
  width: 100%; }

.deliverable {
  margin-bottom: 25px; }
  .deliverable a {
    color: #000; }
    .deliverable a.quiz {
      font-size: 1.75em;
      font-family: "hkgrotesk-bold", sans-serif;
      color: #5AAF7F;
      -webkit-text-decoration-color: #5AAF7F;
      -moz-text-decoration-color: #5AAF7F;
      text-decoration-color: #5AAF7F; }
  .deliverable div.quiz {
    font-family: "hkgrotesk-bold", sans-serif; }

.video.gallery .name {
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #000000;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer; }
  .video.gallery .name.active {
    background-color: #5AAF7F;
    color: #fff;
    border-color: #5AAF7F; }

iframe.storyline {
  width: 100%;
  height: 350px;
  border: none; }

.more-image {
  width: 100%; }

img.more-poster {
  width: 100%; }

.more-resources .resource-container {
  display: inline-block;
  max-width: 150px;
  margin-right: 15px; }

.more-resources .resource > img {
  max-width: 40px; }

.narrative-question {
  color: #fff;
  font-size: 28px;
  font-weight: 400; }

.narrative-answers {
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 125px; }
  .narrative-answers a {
    display: block; }

.narrative-answer {
  color: #fff;
  border: #5AAF7F 2px solid;
  display: inline-block;
  /* height: 38px; */
  margin-bottom: 15px;
  padding: 10px 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .05rem;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .narrative-answer:hover {
    color: #fff;
    background-color: #5AAF7F; }

.narrative-secondary, .narrative-tertiary {
  display: none; }

.narrative-back {
  margin-top: 140px;
  background-color: #5AAF7F;
  color: #fff;
  border: none; }

.question-container {
  position: fixed;
  left: 0px;
  bottom: 25px;
  width: 100%;
  max-width: 960px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

/* RESOURCES PAGE */
.resources {
  margin-bottom: 50px;
  margin-top: 50px; }
  .resources ul {
    list-style: none; }
    .resources ul ul {
      list-style: disc; }
    .resources ul a {
      color: black; }
