@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    
}
.container {
    margin-top: 80px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #161D2B; /* Old browsers */
    /* background: -moz-linear-gradient(-45deg, #453d56 0%, #274042 99%); 
    background: -webkit-linear-gradient(-45deg, #453d56 0%,#274042 99%); 
    background: linear-gradient(135deg, #453d56 0%,#274042 99%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#453d56', endColorstr='#274042',GradientType=1 );   */
}

/* TOP MENU */

.menubar{
    width: 100%;
    position: fixed;
    height: 75px;
    top: 0px;
    background: #00000000; /* For browsers that do not support gradients */
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0, 0, 0, 0.3)); 
    z-index: 11;
}

.menu{
    /* position: absolute; */
    margin-top: 45px !important;
    border: none !important;
    /* position: fixed; */
    width: 100%;
    text-align: left;
    margin-left: 60px !important;
}

.menu-icon{
    /* background-image: url("../image/icons/modules-icon.svg"); */
    background-repeat: no-repeat;
    background-position: center center;
    height: 30px;
    width: 55px;
    position: fixed;
    top: 19px;
    left: 15px;
    z-index: 15;

}

.menu-icon-container{
    background-color: #fff;
    text-align: right;
    height: 45px;
    width: 220px;
    float: left;
    margin-top: 12px;
    margin-left: -210px;
    padding-right: 60px;
    /* border: solid 10px #fff; */
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-weight: 400;
}

.module-menu {
    height: auto;
    width: auto;
    display: inline-block;
    cursor: pointer !important;
}

.module-menu:hover {
    cursor: pointer;
}

.module-menu:hover > .menu-icon-container {
    -webkit-transform: translate(146px,0);
    -moz-transform: translate(146px,0);
    -o-transform: translate(146px,0);
    -ms-transform: translate(146px,0);
    transform: translate(146px,0);
}

.menu-name {
    color: #fff;
    line-height: 70px;
    margin-left: 85px;
    float: left;
    mix-blend-mode: difference;
}

.menu-support {
    color: white;
    float: right;
    margin-top: 22px;
    margin-right: 20px;
}


/* MAIN CAROUSEL */

.swiper-container {
    
    width: 100%;
    margin-top: 200px !important;
    overflow: visible !important;
    
}

.swiper-slide {
    width: 50vw !important;
    height: 30vw !important;
    margin: 0.5625vw auto;
    margin-left: 50px;
    margin-right: 50px;
    
}

.swiper-slide a{
    text-decoration: none;
}

.swiper-slide div{
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slide-title {
    color: white;
    font-size: 28px;
    flex: 0 0 100%;
    height: auto !important;
}

.slide-actions{
    flex: 0 0 100%;
    height: auto !important;
    /* margin-top: -200px; */
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background: #ffffffc9;
}

.swiper-pagination-bullets {
    bottom: -50px !important;
}

.swiper-button-next {
    right: 15% !important;
}

.swiper-button-prev {
    left: 15% !important;
}

.module-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

/* SLIDES */

/* #landing {
    background-image: url("../image/4.jpg");

}

#intro {
    background-image: url("../image/3.jpg");
    
}

#slide-3 {
    background-image: url("../image/2.jpg");

}

#slide-4 {
    background-image: url("../image/1.jpg");

}

#slide-5 {
    background-image: url("../image/demoBG.jpg");
} */

/* LANDING */

.landing-background {
    background-image: url("../image/minimalistic-gaussian-blur.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
    top: 0;
    z-index: -1;
    text-align: center;
}

.landing-logo {
    background-image: url("../image/logos/homehealthlogo.svg");
    height: 65px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
}

.landing-title {
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

.landing-description {
    color: white;
    margin-top: 100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.landing-actions {
    margin-top: 50px;
}

.landing-button {
    width: 175px;
    color: white;
    border: none;
}

.landing-button:visited {
    color: #ffffff;
}

.landing-button:visited:hover{
    color: #000000;
}

.begin-button {
    background-color: #CB8C31;
    /* margin-left: 15px; */
    float: left;
}

.prereqs-button {
    background-color: rgb(40, 23, 70);
    float: right;
}

@media (max-width: 550px) {
    .begin-button {
        float: none;
    }
    
    .prereqs-button {
        float: none;
    }
}

.landing-button:hover {
    width: 175px;
    background-color: white;
}

.lt-logo {
    background-image: url("../image/logos/lt.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100px;
}

/* MODULE PAGE */
.course-objectives {
    color: #fff;
    text-align: center;
}

/* INTRODUCTION PAGE */

.narratives-parent-container{
    position: relative;
    /* height: 100vh; */
}

.narratives-container {
    text-align: center;
    width: 100%;
    margin-top: 30%;
}

.narrative {
    display: inline-block;
    width: 160px;
    height: 200px;
    background-color: #CB8C31;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.narrative img {
    width: 100%;
    border-radius: 5px;
}

.more-info-button {
    background-color: #CB8C31;
    border: none;
    color: #fff;
}