@import "../variables";

/* CASE STUDIES */

.case-study-video {
    width: 100%;
}

.case-study-title {
position: absolute;
width: 100%;
color: #fff;
text-align: center;
/* height: 20%; */
margin-top: 25%;
font-size: 65px;
font-family: $serifFont;
text-shadow: 0px 0px 20px #0000009c;
}

.case-study-section-title {
    border-bottom: #5aaf7f solid 5px;
    padding-bottom: 4px;
    font-size: 28px;
    font-family: $serifFont;
    margin-bottom: 25px;
}

.case-study-section-content {
    font-weight: 400;
}

.case-study-more-section {
    margin-top: 100px;
    height: 200px;
    text-align: center;
}