@import "../variables";

/* CASE STUDIES */

.case-study-container {
    img {
        width: 100%;
    }
}

.case-study-section {
    margin-bottom: 25px;
}

.case-study-video {
    width: 100%;
}

.case-study-title {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
    /* height: 20%; */
    margin-top: 25%;
    font-size: 65px;
    font-family: $serifFont;
    text-shadow: 0px 0px 20px #0000009c;
}

.case-study-section-title {
    border-bottom: #5aaf7f solid 5px;
    padding-bottom: 4px;
    font-size: 36px;
    font-family: $serifFont;
    margin-bottom: 25px;
    // cursor: pointer;

    &:focus {
        outline: none;
    }
}

.case-study-section-content {
    font-size: 18px;
    font-weight: 400;

    >.six.columns:nth-of-type(odd){
        margin-left: 0px;
    }
}

.case-study-more-section {
    margin-top: 100px;
    height: 200px;
    text-align: center;

    &:focus {
        outline: none;
    }
}

.case-study-number {
    font-size: 55px;
    font-family: $serifFont;
    color: #cfcfcf;
    margin-top: -15px;
}