@import "../variables";

.glossary {

    .input {
        font-size: 2.75em;
        font-family: $serifFont;

        .clear {
            color: #a7a7a7;
            cursor: pointer;
        }

        .define {
            display: inline-block;
            color: #9e9e9e;
        }
    
        .word {
            display: inline-block;
            border: none;
        }

        input {
            box-sizing: content-box;
        }
    }

    .results {
        border-radius: 25px;
        border: 2px solid $primaryColour;
        padding: 25px;
        margin-top: 25px;

        ul {
            list-style-type: none;
            font-size: 1.25em;

            li {
                color: #4e4e4e;

                &:hover {
                    color: #000000;
                }
            }

            div {
                margin-bottom: 0;
                cursor: pointer;
            }
        }
    }

    .definition {
        font-size: 1.15em;
        margin-left: 0;
    }
}