@import "../variables";

/* INTRODUCTION PAGE */

.intro-swiper-container {
    max-height:100vh;
    overflow: hidden;
}

.narratives-parent-container{
    // position: relative;
    /* height: 100vh; */
}
    
.intro-swiper-slide {
    overflow: hidden;
}

.narratives-container {
    text-align: center;
    width: 100%;
    margin-top: 30%;
}

.narrative {
    display: inline-block;
    width: 160px;
    height: 200px;
    background-color: $primaryColour;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.narrative:hover {
    color: #fff;
}

.narrative img {
    width: 100%;
    border-radius: 5px;
}

.more-info-button {
    background-color: $primaryColour;
    border: none;
    color: #fff;
}