@import "../variables";

/* INTRODUCTION PAGE */

.intro-swiper-slide{
    position: relative;
}

.intro-swiper-container {
    max-height:100vh;
    overflow: hidden;
}
    
.intro-swiper-slide {
    overflow: hidden;
}

.more-info-button {
    background-color: $primaryColour;
    border: none;
    color: #fff;
}