@import "../variables";

/* MODULE PAGE */

.module-swiper-slide{
    position: relative;
}

.objective-row {
    margin-bottom: 1.75em;

    >.six.columns:nth-of-type(odd){
        margin-left: 0px;
    }

    .row {
        margin-bottom: 1em;
    }
}

.module-swiper-container {
    max-height:100vh;
    overflow: hidden;
}

.course-objectives {
    color: $lightTextColour;
    font-size: 13px;
}

.objective-number {
    font-size: 3em;
    float: left;
    margin-right: 15px;
    line-height: 45px;
}

.objectives-title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 75px;
}

@include larger-than(phone){

    .course-objectives{
        font-size: 14px;
    }
}

@include larger-than(tablet){

    .course-objectives{
        font-size: 14px;
    }
}

@include larger-than(desktop){
    .course-objectives{
        font-size: 14px;
    }
    
}

@include larger-than(desktophd){
    .course-objectives{
        font-size: 15px;
    }
    
}

.slide-video-container {
    position: relative;
    overflow: hidden;
}

.module-feature-video {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
}

.objective {
    font-size: 1.2em;
    display: inline-block;
    width: 80%;

}

.lobjectives-title {
    font-size: 1.2em;
    padding-bottom: 10px;
    border-bottom: solid #5AAF7F 5px;
    font-weight: 400;

}

.mapplications-title {
    font-size: 1.2em;
    padding-bottom: 10px;
    font-weight: 400;
}

.module-bullets .swiper-pagination-bullet {
    height: 6px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 6px;
    transition:width 200ms ease-in-out, height 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.module-bullets .swiper-pagination-bullet-active {
    height: 12px;
    width: 12px;
}

.module-case-studies-title {
    font-size: 1.75em;
    font-weight: 400;
    color: $lightTextColour;
    text-align: center;
    margin-bottom: 50px;
}

.narratives-container {
    text-align: center;
    width: 100%;
    // margin-top: 20%;
    font-size: 9px;
    // transform: translateY(50%);
}

.narrative {
    display: inline-block;
    width: 12.5em;
    height: 15em;
    background-color: $primaryColour;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    // border-radius: 5px;
    color: #fff;
    text-decoration: none;
    // font-size: 2em;
    &:hover {
        color: #fff;
    }

    img {
        width: 100%;
        // border-radius: 5px;
    }
}

@include larger-than(phone){

    .narratives-container{
        font-size: 12px;
    }
}

@include larger-than(tablet){

    .narratives-container{
        font-size: 13px;
    }
}

@include larger-than(desktop){
    .narratives-container{
        font-size: 14px;
    }
    
}

@include larger-than(desktophd){
    .narratives-container{
        font-size: 16px;
    }
    
}
  

.more-on-topic {
    display: inline-block;
    width: 160px;
    height: 500px;
    background-color: $primaryColour;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
    }

    img {
        width: 100%;
        height: 450px;
        border-radius: 5px 5px 0px 0px;
        object-fit: cover;
    }

}
.more-on-topic-name {
    margin-top: 5px;
}





// variables
$card-width:  350px;
$card-height: 500px;
$h-color:     #9CC9E3;
$yellow:      #D0BB57;
$txt-color:   #DCE3E7;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #323c41;
}

.blog-card{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.171);
  text-align: center;
  
  
  .color-overlay{
    /* Rectangle 11: */
    background: rgba(84,104,110,0.4);
    width: $card-width;
    height: $card-height;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background .3s cubic-bezier(.33,.66,.66,1);
  }
  .gradient-overlay{
    /* bg-gradient: */
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    background-image: -moz-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    width: $card-width;
    height: $card-height;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
  }
  
  &:hover{
    
    .card-info{
      opacity: 1;
      bottom: 120px;
    }
    .color-overlay{
      background: rgba(84,104,110,0.8);
    }
  }
}

.title-content{
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.intro{
  width: 170px;
  margin: 0 auto;
  color: $txt-color;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}
.card-info{
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: $txt-color;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1);
}

.utility-info{
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}
.utility-list{
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
  
  li{
    margin: 0 15px 0 0;
    padding: 0 0 0 22px;
    display: inline-block;
    color: $txt-color;
    
  }
}

.coming-soon {
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-weight: 500;
    margin-top: 40%;
}