@import "../variables";

$modulesBorderRadius: 10px;

.modules-logo {
    background-image: url("../image/logos/homehealthlogo.svg");
    height: 65px;
    margin-top: 80px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
}

// LOADER

.modules-loader {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 1;
    margin-top: 18vh !important;
    // z-index: 2;
    overflow: hidden;
    transition: opacity 500ms ease-in-out;

    .faux-slide-container {

        // width: 3000px;
        white-space: nowrap;

        .faux-slide-wrapper {
            display: table;
        }

        .faux-slide {
            display: inline-block;
            width: 60vw !important;
            height: 33.7vw !important;
            margin: 0.5625vw auto;
            margin-left: 25px;
            margin-right: 25px;
            border-radius: $modulesBorderRadius;
            border: solid 5px white;
            animation: pulse 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite alternate both;

            &.one{
                animation-delay: 0ms;
            }
            &.two{
                animation-delay: 200ms;
            }
            &.three{
                animation-delay: 400ms;
            }
        }

    }

    &.initialized {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
      background: #ffffff;
    }
    100% {
      background: #ffffff00;
    }
  }
  


/* MAIN CAROUSEL */

.swiper-container {
    width: 100%;
    margin-top: 18vh !important;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    &.initialized{
        opacity: 1;
    }
}

.swiper-slide {
    width: 60vw !important;
    height: 36vw !important;
    margin: 0.5625vw auto;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 10px;

    a {
        text-decoration: none;
    }

    div {
    
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    > a > div {
        background: rgb(0,0,0);
        background: linear-gradient(177deg, rgba(0,0,0,0.5186449579831933) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0) 100%);
        border-radius: $modulesBorderRadius;
    }
}


.slide-title {
    color: $lightTextColour;
    font-size: 2em;
    font-weight: 400;
    flex: 0 0 100%;
    height: auto !important;
}

.slide-actions{
    flex: 0 0 100%;
    height: auto !important;
    /* margin-top: -200px; */
}

@include larger-than(phone){

    .swiper-slide{
        font-size: 13px;
    }
}

@include larger-than(tablet){

    .swiper-slide{
        font-size: 16px;
    }
}

@include larger-than(desktop){
    .swiper-slide{
        font-size: 16px;
    }
    
}

@include larger-than(desktophd){
    .swiper-slide{
        font-size: 19px;
    }
    
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background: #ffffffc9;
}


.modules-pagination {
    width: 100%;
    text-align: center;
    // display: none;

    > .swiper-pagination-bullet {
        margin-left: 5px;
        margin-right: 5px;
    }

    &.initialized {
        display: block;
    }
}


.swiper-button-next {
    right: 15% !important;
}

.swiper-button-prev {
    left: 15% !important;
}

.module-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    // filter: brightness(80%);
    border-radius: $modulesBorderRadius;
}

.before-begin-button {
    box-shadow: 0px 0px 109px -15px rgba(0, 0, 0, 0.747);
    font-size: 0.8em;
    padding: 0.25em 2em;
    height: auto;
}

.module-button-container {
    height: auto !important;
    margin-top: -20%;
}

$prereqImageHeight: 150px;

.prereq-image {
    height: $prereqImageHeight;
    top: 0;
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 5px 5px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prereq-image-placeholder {
    height: $prereqImageHeight;
    top: 0;
    width: 100%;
    left: 0;
    border-radius: 5px 5px 0 0;
}