@import "../variables";

/* MODULE PAGE */

.course-objectives {
    color: #fff;
    text-align: center;
}

.slide-video-container {
    position: relative;
    overflow: hidden;
}

.module-feature-video {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
}