@import "../variables";

/* MODULE PAGE */

.objective-row {
    margin-bottom: 25px;
}

.module-swiper-container {
    max-height:100vh;
    overflow: hidden;
}

.course-objectives {
    color: #fff;
}

.objective-number {
    font-size: 42px;
    float: left;
    margin-right: 15px;
}

.objectives-title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
}

.slide-video-container {
    position: relative;
    overflow: hidden;
}

.module-feature-video {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
}

.objective {
    font-size: 18px;
    display: inline-block;
    width: 80%;

}