@import "../variables";

$modulesBorderRadius: 10px;

.modules-logo {
    background-image: url("../image/logos/homehealthlogo.svg");
    height: 65px;
    margin-top: 80px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
}

/* MAIN CAROUSEL */

.swiper-container {
    width: 100%;
    margin-top: 20vh !important;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
}

// .modules-container{
//     // position: absolute;
//     // top: 50%;
//     // transform: translateY(-50%);
// }

.swiper-slide {
    width: 50vw !important;
    height: 30vw !important;
    margin: 0.5625vw auto;
    margin-left: 50px;
    margin-right: 50px;

    a {
        text-decoration: none;
    }

    div {
    
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    > a > div {
        background: rgb(0,0,0);
        background: linear-gradient(177deg, rgba(0,0,0,0.5186449579831933) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0) 100%);
        border-radius: $modulesBorderRadius;
    }
}


.slide-title {
    color: $lightTextColour;
    font-size: 28px;
    flex: 0 0 100%;
    height: auto !important;
}

.slide-actions{
    flex: 0 0 100%;
    height: auto !important;
    /* margin-top: -200px; */
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background: #ffffffc9;
}


.modules-pagination {
    width: 100%;
    text-align: center;

    > .swiper-pagination-bullet {
        margin-left: 5px;
        margin-right: 5px;
    }
}


.swiper-button-next {
    right: 15% !important;
}

.swiper-button-prev {
    left: 15% !important;
}

.module-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: brightness(80%);
    border-radius: $modulesBorderRadius;
}

.before-begin-button {
    box-shadow: 0px 0px 109px -15px rgba(0, 0, 0, 0.747);
}

.module-button-container {
    height: auto !important;
    margin-top: -20%;
}