@import "../variables";

$sectionTitleHeight: 40px;
$sectionTitleMarginBottom: 30px;
$sectionTitlePaddingBottom: 5px;
$sectionTitleBoarderBottom: 5px;

.more-title{
    font-size: 4em;
    font-family: $serifFont;
}

.more-subtitle {
    font-size: 1.5em;
    font-weight: 400;
    border-bottom: 5px solid $primaryColour;
    width: fit-content;
    margin-bottom: 25px;
}

.more-text {
    font-size: 1.15em;
    // margin-bottom: 25px;
}

// .more-left-title {
//     font-size: 26px;
//     letter-spacing: 0.25px;
//     padding-bottom: $sectionTitlePaddingBottom;
//     margin-bottom: $sectionTitleMarginBottom;
//     height: $sectionTitleHeight;
//     font-family: $serifFont;
// }

// .more-left-text {
//     font-size: 16px;
//     font-weight: 400;
//     margin-bottom: 25px;
// }

// .more-right-text {
//     font-weight: 400;
//     margin-bottom: 25px;
// }

// .more-right-title {
//     font-size: 24px;
//     font-family: $serifFont;
//     letter-spacing: 0.25px;
//     height: $sectionTitleHeight;
//     margin-bottom: $sectionTitleMarginBottom + $sectionTitleBoarderBottom - 2px;
//     padding-bottom: $sectionTitlePaddingBottom;

//     padding-top: 2px;
// }

.more-questions {
    font-size: 24px;
}

.more-section{

    padding-top: 50px;
    padding-bottom: 50px;

    .container {
        margin-top: 0px;
    }

    &:nth-of-type(odd){
        background-color: #ffffff;

        .more-left-title {
            border-bottom: $sectionTitleBoarderBottom solid $primaryColour;
        }
    }
    &:nth-of-type(even){
        background-color: $primaryColour;
        color: #ffffff;

        .more-left-title {
            border-bottom: $sectionTitleBoarderBottom solid #ffffff;
        }
    }
}

//Circles
.more-circles {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.more-circle-container{
    // width: 10px;
    flex: 1; 
    text-align: center;
}

.more-circle {
    margin: 0 auto;
    border-radius: 50%;
    width: 75%;
    height: auto;
}

.more-circle-text {
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.more-small-circle-container {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.more-small-text{
    text-align: center;
    margin-top: 5px;
}

// Video
.more-video{
    video {
        width: 100%;
    }

}
