@import "../variables";

.narrative-question {
    color: $lightTextColour;
    font-size: 48px;
}

.narrative-answers {
    color: $lightTextColour;
}

.narrative-answer {
    background-color: $primaryColour;
    color: $lightTextColour;
    border: none;
}

.narrative-secondary, .narrative-tertiary{
    display: none;
}