@import "../variables";

/* RESOURCES PAGE */

.resources {

    margin-bottom: 50px;
    margin-top: 50px;

    ul {
        // font-family: $fontBold;
        list-style: none;

        ul {
            list-style: disc;
        }
        a {
            color: black;
            // font-family: $font;
        }
    }
}