<div class="menubar">
    <div class="module-menu">
        <div class="menu-icon"></div>
        <div class="menu-icon-container">
                <ul class="menu" style="display: none">
                        <li><div>Introduction</div></li>
                        <li><div>Pallative Care</div><ul>
                                <li><div>Session 01</div></li>
                                <li><div>Session 02</div></li>
                            </ul>
                        </li>
                        <li><div>Medication Management</div></li>
                        <li><div>Self Management Support</div></li>
                        <li><div>Care of Older Adult</div>
                        <li><div>Home Support</div>
                        </li>
                </ul>
        </div>
        <div class="menu-name">Modules</div>
    </div>
    <div class="menu-support">Support</div>
        
</div>