body {
    /* background-color: rgb(221, 221, 221); */
    margin-top: 50px;
}

.menubar{
    background-color: #0E141F;
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0px;
}

.menu{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 300px;
}

.menu-icon{
    background-image: url("../icon/Topics.svg");
    background-repeat: no-repeat;
    background-position: left center;
    /* background-color: #C98931; */
    height: 25px;
    width: 50px;
    float: right;
    margin-top: 12px;
}
/* 
body{
    background-image: url("../image/demoBG.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;

} */
.landing-parent {
    position: relative;
    height: 500px;
  }

.landing-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing-title {
    font-size: 70px;
    text-align: center;
    color: white;
}

.landing-description {
    font-size: 18px;
    text-align: center;
    color: white;
}

.landing-actions {
    text-align: center;
    margin-top: 25px;
}

.landing-button{
    background-color: #C98931;
    color: white;
    border: none;
}

.main-carousel{
    margin-top: 150px;
}

.slide{
    background-color: black;
    /* height: 75%; */
    width: auto;
    text-align: center;
}

.slide-one{
    background-image: url("../image/demoBG.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    height: 100%;
}

.slide-two{
    background-color: rebeccapurple;
    height: 500px;
    width: auto;
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;

    -webkit-transition:margin-left 300ms ease-in-out;
    -moz-transition:margin-left 300ms ease-in-out;
    -o-transition:margin-left 300ms ease-in-out;
    transition:margin-left 300ms ease-in-out;

    /* -webkit-transition:margin-right 300ms ease-in-out;
    -moz-transition:margin-right 300ms ease-in-out;
    -o-transition:margin-right 300ms ease-in-out;
    transition:margin-right 300ms ease-in-out; */
}