<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- DESIGN BY MICHELLE LAM | CODE BY JOSH STUIBLE -->

    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/skeleton.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{site.baseurl}}/library/lazy/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/library/lazy/plugins/jquery.lazy.av.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/library/js-cookie/js.cookie.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/library/waitforimages/jquery.waitforimages.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.0/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.0/js/swiper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>

    <script src="{{site.baseurl}}/library/vex/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-default'</script>

    <link rel="stylesheet" href="{{site.baseurl}}/library/hover/hover-min.css" />

    <script src="{{site.baseurl}}/library/barba/barba.min.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <script src="{{site.baseurl}}/library/waypoints/jquery.waypoints.min.js" type="text/javascript"></script>

    <script src="{{site.baseurl}}/library/snapsvg/snap.svg-min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

    <script href="{{site.baseurl}}/library/polyfill/calc.min.js" type="text/javascript"></script>


    <script>
            //Script to add module names to array for cookie creation
            var modules = [];
            {% assign modules_page = site.pages | where: 'layout', 'modules' %}
            {% for item in modules_page.first.modules %}
            modules.push("{{ item.name | downcase | replace: " ", "" | replace: "-", "" }}");
            {% endfor %}
            /* eslint-enable */
            $().ready(function () {
                drawModulesIcon();
            });
    </script>

    {% if site.use-minified != true %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <script src="{{site.baseurl}}/js/homehealth.js"></script>
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.min.css">
    <script src="{{site.baseurl}}/js/homehealth.min.js"></script>
    {% endif %}

    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>