<div class="menubar">
    {% if page.title != 'modules' %}
    <a class="module-menu" href="{{site.baseurl}}/modules/">
    {% else %}
    <a class="module-menu" href="#">
    {% endif %}
        <div class="menu-icon"></div>
        <script>
                //Global Variable for last viewed slide on modules page
                var lastmoduleSlide = "";
                var currentPage = '{{page.title}}';
                var baseurl = '{{site.baseurl}}';
                var allRects = null;

                //if(currentPage == 'modules'){
                    //$('.module-menu').hide();
                //}

                window.onload = function() {
                    var s = Snap();
                    var mainRect = s.rect(18, 5, 20, 20, 2);
                    var rightRect = s.rect(43, 10, 10, 10, 2);
                    var leftRect = s.rect(3, 10, 10, 10, 2);
                    var farleftRect = s.rect(-16, 10, 10, 10, 2);

                    var allRects = s.group(mainRect,rightRect, leftRect, farleftRect);

                    mainRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"

                    });

                    rightRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"
                    });

                    leftRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"
                    });

                    farleftRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"
                    });

                    var container = document.getElementsByClassName("menu-icon");
                    $(container).append(s.node);

                    $('.menubar').on("mouseenter", ".module-menu", function(e) {
                        if(currentPage != 'modules'){
                            allRects.animate({ transform:'translate(20,0)'}, 700, mina.bounce );
                            mainRect.animate({ transform: 's0.5,0.5' }, 700,  mina.bounce);
                            leftRect.animate({ transform: 's2,2' }, 700,  mina.bounce) ;
                        }
                        else {
                            //mainRect.animate({ transform: 's1.4,1.4' }, 700,  mina.bounce);
                            //leftRect.animate({ opacity: '0' }, 500);
                            //rightRect.animate({ opacity: '0' }, 500);
                        }
                    });
                    
                    $('.menubar').on("mouseleave", ".module-menu", function(e) {
                        if(currentPage != 'modules'){
                            allRects.animate({ transform:'translate(0,0)'}, 700, mina.bounce );
                            mainRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                            leftRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                        }
                        else {
                            //mainRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                            //leftRect.animate({ opacity: '1' }, 500);
                            //rightRect.animate({ opacity: '1' }, 500);
                        }
                    });

                    $('.menubar').on("click", ".module-menu", function(e) {
                        allRects.animate({ transform:'translate(0,0)'}, 700, mina.bounce );
                        mainRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                        leftRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                        leftRect.animate({ opacity: '1' }, 500);
                        rightRect.animate({ opacity: '1' }, 500);
                    });

                    
                    //mainRect.animate({ transform:'translateX(-5)'}, 700, mina.bounce );
                    //mainRect.animate({ transform:'translateY(-5)'}, 700, mina.bounce );

                    // mainRect.animate({ry:1}, 220, function(){
                      //  mainRect.animate({ry: 90}, 300);
                      //  }); 
            }
        </script>
        {% assign pageurl_first_char = page.url | split: '' | first %}
        {% assign pageurl = page.url %}

        {% if pageurl_first_char == "/" %}
            {% assign pageurl = pageurl | slice: 1, pageurl.size %}
        {% endif %}

        {% assign pageurl_array = pageurl | split: "/" %}
        {% assign breadcrumb_text_array = '' | split: "****"%}
        {% assign breadcrumb_url_array = '' | split: "****"%}
                        {% for section in pageurl_array %}

                                {% assign sectionInArrayForm = section | replace: "-", " " | split: '****' %}
                                {% assign breadcrumb_text_array = breadcrumb_text_array | concat: sectionInArrayForm %}

                                {% assign breadcrumb_url = page.url | split: section %}
                                {% if forloop.last %}
                                {% assign urlInArrayForm = "#" | split: '****' %}
                                {% else %}
                                {% assign urlInArrayForm = breadcrumb_url[0] | append: section | split: '****' %}
                                {% endif %}
                                
                                {% assign breadcrumb_url_array = breadcrumb_url_array | concat: urlInArrayForm %}

                        {% endfor %}

        {% assign breadcrumb_text_json = breadcrumb_text_array | jsonify %}
        {% assign breadcrumb_url_json = breadcrumb_url_array | jsonify %}
            
        {% comment %}{% raw %}
        {{ breadcrumb_text_array | size | prepend: 'text array size: ' }}<br>
        {{ pageurl_array | size | prepend: 'page url array size: ' }}<br>
        {{ breadcrumb_url_array | size | prepend: 'url array size: ' }}<br>
        {{ pageurl }}<br>
        {{ breadcrumb_text_json }} <br>
        {{ breadcrumb_url_json }}
        {% endraw %}{% endcomment %}

        
    </a>
        <div class="menu-name">   </div>
    
    <div class="menu-support">Resources &nbsp; &nbsp; &nbsp; Glossary</div>    
</div>