<div class="menubar">
    {% if page.title != 'modules' %}
    <a class="module-menu" href="{{site.baseurl}}/modules/">
    {% else %}
    <a class="module-menu" href="#">
    {% endif %}
        <div class="menu-icon"></div>
       <!-- <div class="menu-icon-container">
                <ul class="menu" style="display: none">
                        <li><div>Introduction</div></li>
                        <li><div>Pallative Care</div><ul>
                                <li><div>Session 01</div></li>
                                <li><div>Session 02</div></li>
                            </ul>
                        </li>
                        <li><div>Medication Management</div></li>
                        <li><div>Self Management Support</div></li>
                        <li><div>Care of Older Adult</div>
                        <li><div>Home Support</div>
                        </li>
                </ul>
        </div> -->
        <script>
                var currentPage = '{{page.title}}';
                var baseurl = '{{site.baseurl}}';
                window.onload = function() {
                    var s = Snap();
                    var mainRect = s.rect(18, 5, 20, 20, 2);
                    var rightRect = s.rect(43, 10, 10, 10, 2);
                    var leftRect = s.rect(3, 10, 10, 10, 2);
                    var farleftRect = s.rect(-16, 10, 10, 10, 2);

                    var allRects = s.group(mainRect,rightRect, leftRect, farleftRect);

                    mainRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"

                    });

                    rightRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"
                    });

                    leftRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"
                    });

                    farleftRect.attr({
                        fill: "none",
                        stroke: "#fff",
                        strokeWidth: 2,
                        "vector-effect": "non-scaling-stroke"
                    });

                    var container = document.getElementsByClassName("menu-icon");
                    $(container).append(s.node);

                    $('.module-menu').hover(function(){
                        if(currentPage != 'modules'){
                            allRects.animate({ transform:'translate(20,0)'}, 700, mina.bounce );
                            mainRect.animate({ transform: 's0.5,0.5' }, 700,  mina.bounce);
                            leftRect.animate({ transform: 's2,2' }, 700,  mina.bounce) ;
                        }
                        else {
                            //mainRect.animate({ transform: 's1.4,1.4' }, 700,  mina.bounce);
                            //leftRect.animate({ opacity: '0' }, 500);
                            //rightRect.animate({ opacity: '0' }, 500);
                        }
                    },
                    function(){
                        if(currentPage != 'modules'){
                            allRects.animate({ transform:'translate(0,0)'}, 700, mina.bounce );
                            mainRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                            leftRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                        }
                        else {
                            //mainRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                            //leftRect.animate({ opacity: '1' }, 500);
                            //rightRect.animate({ opacity: '1' }, 500);
                        }
                    });

                    $('.module-menu').click(function(){
                        allRects.animate({ transform:'translate(0,0)'}, 700, mina.bounce );
                        mainRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                        leftRect.animate({ transform: 's1,1' }, 700,  mina.bounce);
                        leftRect.animate({ opacity: '1' }, 500);
                        rightRect.animate({ opacity: '1' }, 500);
                    });

                    
                    //mainRect.animate({ transform:'translateX(-5)'}, 700, mina.bounce );
                    //mainRect.animate({ transform:'translateY(-5)'}, 700, mina.bounce );

                    // mainRect.animate({ry:1}, 220, function(){
                      //  mainRect.animate({ry: 90}, 300);
                      //  }); 
            }
        </script>
        <div class="menu-name">Modules</div>
    </a>
    <div class="menu-support">Support</div>    
</div>