@import "variables";

body {
    font-family: $font;
    font-weight: 300;
    background-color: $backgroundColour;
    
}
.container {
    margin-top: 80px;
}

.background {
    position: absolute;
    top: 0;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-padding {
    margin-top: 100px;
}

.center-align{
    text-align: center;
}

.margin {
    &.top {
        &.twenty {
            margin-top: 20px;
        }
        &.fifty {
            margin-top: 50px;
        }
    }
}

