@import "variables";

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    background-color: $backgroundColour;
    
}
.container {
    margin-top: 80px;
}

.background {
    position: absolute;
    top: 0;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background: $backgroundColour; /* Old browsers */
    // background: -moz-linear-gradient(-45deg, #453d56 0%, #274042 99%); 
    // background: -webkit-linear-gradient(-45deg, #453d56 0%,#274042 99%); 
    // background: linear-gradient(135deg, #453d56 0%,#274042 99%); 
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#453d56', endColorstr='#274042',GradientType=1 );
    // transition: linear all 1s;
    // transition-delay: 1s;
}

.top-padding {
    margin-top: 100px;
}

.center-align{
    text-align: center;
}

.margin {
    &.top {
        &.twenty {
            margin-top: 20px;
        }
        &.fifty {
            margin-top: 50px;
        }
    }
}