@font-face {
    font-family: 'Perpetua';
    src: url('../fonts/perpetua/Perpetua.eot?#iefix') format('embedded-opentype'),  url('../fonts/perpetua/Perpetua.otf')  format('opentype'),
           url('../fonts/perpetua/Perpetua.woff') format('woff'), url('../fonts/perpetua/Perpetua.ttf')  format('truetype'), url('../fonts/perpetua/Perpetua.svg#Perpetua') format('svg');
    font-weight: normal;
    font-style: normal;
  }