@import "variables";

/* TOP MENU */

.menubar{
    width: 100%;
    color: #ffffff;
    position: fixed;
    font-family: $fontLight;
    letter-spacing: 0.005em;
    height: $menuHeight;
    top: 0px;
    background-color: #00000000; /* For browsers that do not support gradients */
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0, 0, 0, 0.3)); 
    z-index: 11;
    font-weight: 400;

    a {
        color: unset;
        text-decoration: none;
    }

    &.white{
        background: unset;
        background-color: #ffffff;
        transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition: box-shadow 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        

        &.shadow{
            box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.05);
        }
        
    }

    .resources-dropdown {
        float: right;
        background-color: #ffffff;
        
        padding: 25px;
        border-radius: 15px;
        position: absolute;
        right: 50px;
        top: $menuHeight;
        display: none;
    

        .resource {
            margin-bottom: 15px;
            padding: 15px 25px;
            background-color: aliceblue;
            border-radius: 10px;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center; 
            display: block;

            &:last-child {
                margin-bottom: 0;
            }

            div {
                color: #fff !important;
                // font-family: $fontBold;
                font-size: 1.1em;
                letter-spacing: 2px;
            }
        }
    }
}

.menu{
    /* position: absolute; */
    margin-top: 45px !important;
    border: none !important;
    /* position: fixed; */
    width: 100%;
    text-align: left;
    margin-left: 60px !important;
}

.menu-icon{
    /* background-image: url("../image/icons/modules-icon.svg"); */
    background-repeat: no-repeat;
    background-position: center center;
    height: 30px;
    width: 55px;
    position: fixed;
    top: 19px;
    left: 15px;
    z-index: 15;

}

.menu-icon-container{
    // background-color: #fff;
    text-align: right;
    height: 45px;
    width: 220px;
    float: left;
    margin-top: 12px;
    margin-left: -210px;
    padding-right: 60px;
    /* border: solid 10px #fff; */
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-weight: 400;
}

.module-menu {
    height: auto;
    width: auto;
    display: inline-block;
    // display: none;
    cursor: pointer !important;

    :hover {
        cursor: pointer;
        
        > .menu-icon-container {
            transform: translate(146px,0);
        }
    }
}


.menu-name {
    // color: #ffffffbf;
    opacity: 0.8;
    line-height: 70px;
    margin-left: 85px;
    float: left;
    width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    :hover {
        opacity: 1;    
    }

    a {
        text-decoration: none;
        text-transform:capitalize;
    }
    
    @include larger-than(tablet){
    
        width: auto;
    }
}


.menu-support {
    // color: #ffffffbf;
    float: right;
    margin-top: 22px;
    margin-right: 20px;
    opacity: 0.8;

    :hover {
        opacity: 1;
    }
}