@import "variables";

.button {
    background-color: $primaryColour;
    // font-family: $fontLight;
    color: white;
    border: none;
    border-radius: 15px;
    transition: all 300ms linear;
    height: unset;
    padding: 5px 25px;
    font-size: 1em;

    &:hover {
        background-color: #fff;
        color: rgb(26, 26, 26);
        transform: translateY(-5px);
        box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.25);
        border: #e7e7e7 2px solid inset;
    }
}

.prereq .vex-dialog-message {
    text-align: center;
    font-size: 25px;
    border-bottom: solid #5AAF7F 3px;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
    
}

.vex.vex-theme-default .vex-content {
    font-family: $font !important;
}

.vex-dialog-button-primary {
    background-color: $primaryColour !important;
}

.vex-custom-field-wrapper {
    margin-bottom: 25px;
}

.vex-custom-field-wrapper a{
    cursor: pointer;
}

.vex-duration{
    margin-top: 25px;
    color: #838383;
    font-size: 0.8em;
    font-family: $fontBold;
}

.vex-title{
    color: #000;
    font-weight: 700;
}

.ui-accordion-header {
    cursor: pointer;
}

.ie-warning {
    text-align: center;

    .title {
        border-bottom: $primaryColour 5px solid;
        display: inline-block;
    }

    img {
        height: 100px;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    p {
        text-align: left;
    }
}

.accordion-icon {
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    background-color: $primaryColour;
    color: #fff;
    font-size: 21.5px;
    text-align: center;
    transition: transform 300ms;
}

.ui-accordion-header-active>.accordion-icon {
    transform: rotate(45deg);
}