---
layout: branching-narrative
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background">
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container">
            <div class="narrative-container top-padding center-align">
                {% for question in page.questions %}

                    {% if forloop.first == true %}
                        <div data-narrative="{{ question.link }}" class="question-container narrative-primary">
                    {% else %}
                        <div data-narrative="{{ question.link }}" class="question-container narrative-secondary">
                    {% endif %}

                    <div class="narrative-question">
                        {{ question.question }}
                    </div>
                    <div class="narrative-answers">
                                {% for answer in question.answers %}
                                <a href="{{ answer.link }}" class="button narrative-answer">
                                    {{ answer.text }}
                                </a>
                                {% endfor %}
                    </div>
                </div>
                {% endfor %}

                {% for question in page.questions %}
                    {% for answer in question.answers %}
                    <div data-narrative="{{ answer.link }}" class="question-container narrative-tertiary">
                        <div class="narrative-question">
                            {{ answer.feedback}}
                         </div>
                    </div>
                    {% endfor %}
                {% endfor %}

                
            </div>
        </div>
    </div>
</div>
</body>

</html>