---
layout: branching-narrative
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="narrative">
            <div class="container narrative-container top-padding center-align">
                {% for question in page.questions %}

                    {% if forloop.first == true %}
                        <div data-narrative="{{ question.link }}" data-background="{{site.baseurl}}/image/branch/{{ question.background }}" class="question-container narrative-primary">
                    {% else %}
                        <div data-narrative="{{ question.link }}" data-background="{{site.baseurl}}/image/branch/{{ question.background }}" class="question-container narrative-secondary">
                    {% endif %}

                    <div class="narrative-question">
                        {{ question.question }}
                    </div>
                    <div class="narrative-answers">
                                {% for answer in question.answers %}
                                <div class="row">
                                    <a href="{{ answer.link }}" class="narrative-answer no-barba">
                                        {{ answer.text }}
                                    </a>
                                </div>
                                {% endfor %}
                    </div>
                </div>
                {% endfor %}

                {% for question in page.questions %}
                    {% for answer in question.answers %}
                    <div data-narrative="{{ answer.link }}" class="question-container narrative-tertiary" data-background="{{site.baseurl}}/image/branch/{{ answer.background }}">
                        <div class="narrative-question">
                            {{ answer.feedback}}
                         </div>
                         {% assign currentPage = page.title | append: "/" | prepend: "/" %}
                <a href="{{ page.url | remove: currentPage | append: "#case-studies" }}" class="button narrative-back" style="display: none">
                    Back to Scenarios
                </a>
                    </div>
                    {% endfor %}
                {% endfor %}
                
                
            </div>
        </div>
    </div>

<!-- Initialize Branching Funciton -->
<script>
    //initializeBranching();
</script>

</body>

</html>