---
layout: case-study
---
{% assign contentNoReturns = content | strip_newlines %}

<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="case-study">
            <div class="case-study-title">
                {{ page.title }}
            </div>
            <video autoplay loop preload="auto" class="case-study-video">
                <source src="{{site.baseurl}}/video/case-studies/{{ page.video }}" type="video/mp4">
                Your browser does not support this yupe of video
            </video>
            <div class="container case-study-container">
                <div class="row">
                    <div class="case-study-section-title">
                        Background
                    </div>
                </div>
                <div class="row">
                <div class="six columns">
                        <div class="case-study-section">
                                
                                <div class="case-study-section-content">
                                    {% assign contentSplit = content | split: '</p>' -%}
                                    {{ contentSplit[0] }}
                                    {{ contentSplit[1] }}
                                </div>
                        </div>
                        <!-- <div class="case-study-section margin top twenty">
                                <div class="case-study-section-title">
                                    Medications
                                </div>
                                <div class="case-study-section-content">
                                    {% for medication in page.medications %}
                                        {{ medication }} <br/>
                                    {% endfor %}
                                </div>
                        </div> -->
                </div>
                {% if contentNoReturns != ""  %}
                <div class="six columns case-study-section-content">
                        {{ contentSplit[2] }}
                </div>
                {% endif %}
                </div>
                <div class="row">
                        <div class="case-study-section accordion">
                                <div class="case-study-section-title">
                                    Formal / Informal Supports
                                </div>
                                <div class="case-study-section-content">
                                    {{ page.supports }}
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="case-study-section accordion">
                                <div class="case-study-section-title">
                                    Initial Visit
                                </div>
                                <div class="case-study-section-content">
                                    {{ page.initial-visit }}
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="case-study-section accordion">
                                <div class="case-study-section-title">
                                    Reflection
                                </div>
                                <div class="case-study-section-content">
                                    {% for reflection in page.reflection %}
                                        {{ reflection }} <br/>
                                    {% endfor %}
                                </div>
                        </div>
                </div>
                <div class="case-study-more-section">
                        <a href="#" class="button">More on this topic</a>
                </div>
            </div>

        </div>
    </div>
<script>
    //initializeCaseStudy();
</script>
{% include footer.html %}
</body>

</html>