---
layout: coming-soon
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
    <div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="module" data-background="{{site.baseurl}}/image/modules/{{ page.background }}" data-nav-text='{{ breadcrumb_text_json }}' data-nav-url='{{ breadcrumb_url_json }}'>
            <!-- Swiper -->
            <div class="module-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="module-swiper-slide" data-hash="course-objectives">
                            <div class="container">
                                <div class="coming-soon">
                                    <div class="title">We’ll see you in class.</div>
                                    <div class="description">The online portion is coming soon</div>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination module-bullets"></div>
            </div>
            
            
        </div>
    </div>

<!-- Initialize Swiper -->
<script>
    //instantiateModule();
</script>
{% include footer.html %}
</body>

</html>