---
layout: intro
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="introduction" data-background="{{site.baseurl}}/image/modules/{{ page.background }}" data-nav-text='{{ breadcrumb_text_json }}' data-nav-url='{{ breadcrumb_url_json }}'>
            <!-- Swiper -->
            <div class="intro-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="intro-swiper-slide" data-hash="course-objectives">
                                <div class="container">
                                        <div class="course-objectives row">
                                            <div class="objectives-title">Objectives</div>
                                            <div class="row objective-row">
                                                {% for objective in page.objectives %}
                                                
                                                    {% assign mod = forloop.index | modulo: 2 %}
            
                                                    {% if mod == 0 %}
                                                    <div class="row">
                                                    {% endif %}
                                                
                                                        <div class="six columns">
                                                                <div class="row">
                                                                    <div class="objective-number">{{ forloop.index }}</div>
                                                                        <div class="objective">{{objective.objective}}</div>
                                                                </div>
                                                        </div>
            
                                                    {% if mod == 0 %}
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                                </div>
                                        </div>

                                </div>
                                {% include scrollindicator.html %}
                        </div>
                        <div class="intro-swiper-slide" data-hash="case-studies">
                                <div class="container center-center">
                                        <div class="narratives-parent-container">
                                            <div class="narratives-container">
                                                {% for item in page.cases %}
                                                    <a class="blog-card spring-fever narrative hvr-float-shadow" href="{{site.baseurl}}{{ page.url }}{{ item.url | downcase }}">
                                                        <img class="lazy" src="{{site.baseurl}}/image/branch/{{ item.image }}" alt="{{ item.name }}">
                                                        <div class="narrative-name">{{ item.name }}</div>
                                                    </a>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                {% include scrollindicator.html %}
                        </div>
                        <div class="intro-swiper-slide" data-hash="more-on-topic">
                            <div class="container">
                                    <div class="narratives-parent-container">
                                        <div class="narratives-container">
                                            {% for item in page.more %}
                                                <a class="more-on-topic" href="{{site.baseurl}}{{ page.url }}{{ item.url | downcase }}">
                                                    <img class="lazy" src="{{site.baseurl}}/image/more-on-topic/{{ item.image }}" alt="{{ item.title }}">
                                                    <div class="more-on-topic-name">{{ item.title }}</div>
                                                </a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

<!-- Initialize Swiper -->
<script>
    //instantiateIntro();
</script>
{% include footer.html %}
</body>

</html>