---
layout: landing
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="landing">
                <div class="landing">
                    <div class="background"></div>
                    <video autoplay loop muted preload="auto">
                        <source src="{{site.baseurl}}/video/case-studies/{{ page.video }}" type="video/mp4"/>
                        Your browser does not support this type of video
                    </video>
                        <div class="container">
                            <div class="logo"></div>
                            <div class="title">RHHEP</div>
                            <div class="description">
                                {{content}}
                            </div>
                            <div class="actions">
                                <div class="row">
                                    <div class="four columns offset-by-four">
                                        <a class="button landing-button begin-button" href="{{site.baseurl}}/modules">BEGIN</a>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                        <div class="logos">
                            <img src="image/logos/vch.svg" alt="">
                            <img src="image/logos/lt.png" alt="">
                            <img src="image/logos/clined.svg" alt="">
                        </div>
                        <!-- <div class="lt-logo"></div> -->
                    </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>