---
layout: module
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background">
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="module">
            <!-- Swiper -->
            <div class="module-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="module-swiper-slide" data-hash="course-objectives">
                            <div class="container">
                                <div class="course-objectives row">
                                    <div class="objectives-title">Objectives</div>
                                    <div class="row objective-row">
                                        <div class="six columns lobjectives-title">
                                            Learning Objectives
                                        </div>
                                        <div class="six columns mapplications-title">
                                            Measurable Applications
                                        </div>
                                    </div>
                                    {% for objective in page.objectives %}
                                    <div class="row objective-row">
                                    <div class="six columns">
                                            <div class="row">
                                                <div class="objective-number">{{ forloop.index }}</div>
                                                    <div class="objective">{{objective.objective}}</div>
                                            </div>
                                    </div>
                                    <div class="six columns">
                                                <div class="row">
                                                <p>{{objective.application}}</p>
                                                </div>
                                        </div>
                                    </div>
                                    {% endfor %}


                                </div>
                                <!-- <div class="scroll-btn">
                                        <a onclick="moduleSwiper.slideTo(1)" href="#">
                                            <span class="mouse">
                                                <span>
                                                </span>
                                            </span>
                                        </a>
                                      <div>scroll down</div>
                                </div> -->
                            </div>

                        </div>
                        <div class="module-swiper-slide" data-hash="case-study">
                                <div class="container">
                                        <div class="narratives-parent-container">
                                            <div class="narratives-container">
                                                    <div class="module-case-studies-title">
                                                            Pick the case study that your team has been assigned
                                                    </div>
                                                {% for item in page.cases %}
                                                    <a class="narrative" href="{{ page.url }}{{ item.url | downcase }}">
                                                        <img src="{{site.baseurl}}/image/case-studies/{{ item.image }}" alt="{{ item.name }}">
                                                        <div class="narrative-name">{{ item.name }}</div>
                                                    </a>
                                                {% endfor %}

                                                <div class="row">
                                                    <div class="offset-by-four four columns">
                                                        <a class="button more-info-button" href="{{ page.url }}more">More On This Topic</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination module-bullets"></div>
            </div>
            
            
        </div>
    </div>
</div>

<!-- Initialize Swiper -->
<script>
    //instantiateModule();
</script>

</body>

</html>