<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background">
    {% include menu.html %}

    <div id="barba-wrapper">
            <div class="barba-container" data-namespace="modules">
                <div class="modules-logo"></div>
                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->

                        <!-- LANDING PAGE  style="background-image: url('{{site.baseurl}}/image/modules/{{ item.image }}')"-->
                        <div class="swiper-slide" data-hash="landing">
                                <video loop autoplay preload="auto" class="module-video" ><source src="{{site.baseurl}}/video/case-studies/Homepage.mp4" type="video/mp4" /></video>
                                <a href="/"><div id="landing">
                                    <div class="slide-title">Landing</div>
                                </div></a>
                        </div>

                        {% for item in page.modules %}
                            <div class="swiper-slide" data-hash="{{ item.pagename }}">
                                    <video loop autoplay preload="auto" class="module-video" ><source src="{{site.baseurl}}/video/case-studies/{{ item.video }}" type="video/mp4" /></video>
                                <a href="{{site.baseurl}}/modules/{{ item.pagename }}"><div id="{{ item.pagename }}" >
                                    <div class="slide-title">{{ item.name }}</div>
                                    <div class="slide-actions">
                                    </div>
                                </div></a>
                                <div class="module-button-container">
                                    <a data-href="{{site.baseurl}}/modules/{{ item.pagename }}" class="button more-info-button before-begin-button">Before I Begin</a>
                                </div>
                                
                            </div>


                        {% endfor %}

                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev swiper-button-white"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                </div>
                <!-- pagination -->
                <div class="modules-pagination"></div>
            </div>
    </div>
</div>
    <script>
        //instantiateSlider();
    </script>
</body>
</html>