---
layout: module
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
    <div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container"    data-namespace="module" 
                                        data-background="{{site.baseurl}}/image/modules/{{ page.background }}" 
                                        data-nav-text='{{ breadcrumb_text_json }}' 
                                        data-nav-url='{{ breadcrumb_url_json }}'
                                        data-module="{{ page.title | downcase | replace: " ", "" | replace: "-", "" }}">
            <!-- Swiper -->
            <div class="module-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="module-swiper-slide" data-hash="course-objectives">
                            <div class="container">
                                <div class="course-objectives row">
                                    <div class="objectives-title">Objectives</div>

                                    <div class="row objective-row">
                                    {% for objective in page.objectives %}
                                    
                                        {% assign mod = forloop.index | modulo: 2 %}

                                        {% if mod == 0 %}
                                        <div class="row">
                                        {% endif %}
                                    
                                            <div class="six columns">
                                                    <div class="row">
                                                        <div class="objective-number">{{ forloop.index }}</div>
                                                            <div class="objective">{{objective.objective}}</div>
                                                    </div>
                                            </div>

                                        {% if mod == 0 %}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>

                                </div>
                                
                            </div>
                            {% include scrollindicator.html onClick = 'moduleSwiper.slideNext()' %}
                        </div>
                        <div class="module-swiper-slide" data-hash="case-study">
                                <div class="container center-center">
                                        <div class="narratives-parent-container">
                                            <div class="narratives-container">
                                                    <div class="module-case-studies-title">
                                                            Pick the case study that your team has been assigned
                                                    </div>
                                                {% for item in page.cases %}
                                                    <a class="blog-card spring-fever narrative hvr-float-shadow" href="{{site.baseurl}}{{ page.url }}{{ item.url | downcase }}">
                                                        <img class="lazy" src="{{site.baseurl}}/image/case-studies/{{ item.image }}" alt="{{ item.name }}">
                                                        <div class="narrative-name">{{ item.name }}</div>
                                                    </a>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        
                                    </div>
                                    {% include scrollindicator.html onClick = 'moduleSwiper.slideNext()' %}
                        </div>
                        <div class="module-swiper-slide" data-hash="more-on-topic">
                            <div class="container center-center">
                                    <div class="narratives-parent-container">
                                        <div class="narratives-container">
                                                <div class="module-case-studies-title">
                                                        More On This Topic
                                                </div>
                                            {% for item in page.more %}
                                                <a class="more-on-topic hvr-float-shadow" href="{{site.baseurl}}{{ page.url }}{{ item.url | downcase }}" data-name="{{ item.title | downcase | replace: " ", "" | replace: "-", ""}}">
                                                        <img class="lazy" src="{{site.baseurl}}/image/more-on-topic/{{ item.image }}" alt="{{ item.name }}">
                                                        <div class="overlay">
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                                                <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                                                <polyline class="path check" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                                              </svg>
                                                        </div>
                                                        <div class="narrative-name">{{ item.title }}</div>
                                                    </a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination module-bullets"></div>
            </div>
            
            
        </div>
    </div>

<!-- Initialize Swiper -->
<script>
    //instantiateModule();
</script>
{% include footer.html %}
</body>

</html>