---
layout: module
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
    <div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="module" data-background="{{site.baseurl}}/image/modules/{{ page.background }}">
            <!-- Swiper -->
            <div class="module-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="module-swiper-slide" data-hash="course-objectives">
                            <div class="container">
                                <div class="course-objectives row">
                                    <div class="objectives-title">Objectives</div>
                                    <div class="row objective-row">
                                        <div class="six columns lobjectives-title">
                                            Learning Objectives
                                        </div>
                                        <div class="six columns mapplications-title">
                                            Measurable Applications
                                        </div>
                                    </div>
                                    {% for objective in page.objectives %}
                                    <div class="row objective-row">
                                    <div class="six columns">
                                            <div class="row">
                                                <div class="objective-number">{{ forloop.index }}</div>
                                                    <div class="objective">{{objective.objective}}</div>
                                            </div>
                                    </div>
                                    <div class="six columns">
                                                <div class="row">
                                                <p>{{objective.application}}</p>
                                                </div>
                                        </div>
                                    </div>
                                    {% endfor %}


                                </div>
                                {% include scrollindicator.html %}
                            </div>

                        </div>
                        <div class="module-swiper-slide" data-hash="case-study">
                                <div class="container">
                                        <div class="narratives-parent-container">
                                            <div class="narratives-container">
                                                    <div class="module-case-studies-title">
                                                            Pick the case study that your team has been assigned
                                                    </div>
                                                {% for item in page.cases %}
                                                    <a class="blog-card spring-fever narrative hvr-float-shadow" href="{{site.baseurl}}{{ page.url }}{{ item.url | downcase }}">
                                                        <img class="lazy" src="{{site.baseurl}}/image/case-studies/{{ item.image }}" alt="{{ item.name }}">
                                                        <div class="narrative-name">{{ item.name }}</div>
                                                    </a>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        {% include scrollindicator.html %}
                                    </div>
                        </div>
                        <div class="module-swiper-slide" data-hash="more-on-topic">
                            <div class="container">
                                    <div class="narratives-parent-container">
                                        <div class="narratives-container">
                                                <!-- <div class="module-case-studies-title">
                                                        Pick the case study that your team has been assigned
                                                </div> -->
                                            {% for item in page.more %}
                                                <a class="more-on-topic" href="{{site.baseurl}}{{ page.url }}{{ item.url | downcase }}">
                                                    <img class="lazy" src="{{site.baseurl}}/image/more-on-topic/{{ item.image }}" alt="{{ item.title }}">
                                                    <div class="more-on-topic-name">{{ item.title }}</div>
                                                </a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination module-bullets"></div>
            </div>
            
            
        </div>
    </div>

<!-- Initialize Swiper -->
<script>
    //instantiateModule();
</script>
{% include footer.html %}
</body>

</html>