---
layout: more
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="more-on-topic" data-nav-text='{{ breadcrumb_text_json }}' data-nav-url='{{ breadcrumb_url_json }}'>
            <div class="center-align container more-title">{{ page.title }}</div>
            {% for section in page.sections %}
                <section class="more-section">
                    <div class="container">
                        {% for part in section.section %}

                            {% if part.part == 'left' %}
                            <div class="five columns">
                                {% for component in part %}

                                    {% MoreInfoComponent 
                                        type: component[0] 
                                        side: part.part 
                                        text: component[1] %}

                                {% endfor %}
                            </div>
                            {% endif %}

                            {% if part.part == 'right' %}
                            <div class="five columns offset-by-one">
                                    {% for component in part %}

                                        {% MoreInfoComponent 
                                            type: component[0] 
                                            side: part.part 
                                            text: component[1] %}

                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if part.part == 'full' %}
                            <div class="twelve columns">
                                {% for components in part %}
                                    {{ components }} </br>
                                {% endfor %}
                            </div>
                            {% endif %}


                        {% endfor %}

                    </div>
                </section>
            {% endfor %}

        </div>
    </div>
    {% include footer.html %}
</body>

</html>