---
layout: more
---
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div class="background"></div>
    {% include menu.html %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="topic" data-nav-text='{{ breadcrumb_text_json }}' data-nav-url='{{ breadcrumb_url_json }}' data-module-parent='{{module_parent}}' data-name='{{ page.id }}'>
            <div class="center-align container more-title">{{ page.title }}</div>
            {% for section in page.sections %}
                <section class="more-section">
                    <div class="container">
                        {% for part in section.section %}

                            {% if part.part == 'half' %}

                                {% if forloop.index <= 2 %}
                                <div class="six columns">
                                {% else %}
                                <div class="six columns margin top fifty">
                                {% endif %}
                                
                                
                                    {% for component in part %}

                                        {% MoreInfoComponent 
                                            baseurl: site.baseurl
                                            type: component[0] 
                                            size: part.part 
                                            text: component[1] %}

                                    {% endfor %}
                                </div>

                            {% elsif part.part == 'full' %}

                                {% if forloop.first %}
                                <div class="twelve columns">
                                {% else %}
                                <div class="twelve columns margin top fifty">
                                {% endif %}

                                    {% for component in part %}

                                        {% MoreInfoComponent 
                                            baseurl: site.baseurl
                                            type: component[0] 
                                            size: part.part 
                                            text: component[1] %}

                                    {% endfor %}
                                </div>
                            {% elsif part.part == 'spacer' %}
                                <div class=""></div>
                            {% endif %}


                        {% endfor %}

                    </div>
                </section>
            {% endfor %}
            <div class="container more-back" style="margin-top: 0px; margin-bottom: 25px">
                <a href="{{ breadcrumb_url_array[1] }}#topic" class="button">← More On This Topic</a>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>